.page-wrapper {
  height: max-content;
  margin: 0 4rem;
  z-index: 10;
}
.product-content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.product-page {
  display: flex;
}
