.login-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 6rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
}

.login-page-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: var(--component-container-color);
    width: 27rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.login-form {
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form:nth-child(5) {
    justify-self: flex-start;
}

.form-input-container {
    width: 350px;
    border-radius: 5px;
    display: block;
    margin: 0rem 2rem 1rem 0rem;
}

.login-container a {
    text-decoration: none;
}

.loginform-bottom-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loginform-bottom-section:first-child {
    justify-content: flex-start;
}

.style-input-checkbox {
    margin-left: -12rem;
}

.button-link {
    color: var(--component-black-color);
}

.button-login-form {
    display: block;
    padding: .6rem 9.5rem;
    white-space: nowrap;
    background-color: var(--primary-blue-color);
    color: var(--component-white-color);
    border-radius: 5px;
    margin: 0rem 2rem 1rem 0rem;
}

.forgot-pswrd-link a {
    margin-left: 12rem;
    color: var(--component-black-color);
}